node_modules
.idea
dev-dist
dist
app/
*.apk
*.bin
*.gradle
/android.keystore
/gradle.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/manifest-checksum.txt
/store_icon.png
/twa-manifest.json
/app-release-bundle.aab
/app-release-signed.apk.idsig
/build/reports/problems/problems-report.html
