@use "sass:map";
@use "@angular/material" as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #171d1d,
    20: #2b3232,
    25: #363d3d,
    30: #424848,
    35: #4d5454,
    40: #596060,
    50: #727878,
    60: #8c9292,
    70: #a6acac,
    80: #c2c8c8,
    90: #dee4e4,
    95: #ecf2f2,
    98: #f5fafa,
    99: #f8fdfd,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #191d0c,
    20: #2e321f,
    25: #393d29,
    30: #444934,
    35: #50553f,
    40: #5c614a,
    50: #757962,
    60: #8f937a,
    70: #a9ae94,
    80: #c5c9ae,
    90: #e1e5c9,
    95: #eff3d7,
    98: #f8fcdf,
    99: #fbffe2,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #1b1d00,
    20: #303308,
    25: #3b3e12,
    30: #47491d,
    35: #525527,
    40: #5e6132,
    50: #777a48,
    60: #91945f,
    70: #acaf78,
    80: #c8ca91,
    90: #e4e7ab,
    95: #f2f5b8,
    98: #fbfec0,
    99: #feffd4,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1a1c19,
    20: #2e312e,
    25: #3a3c39,
    30: #454744,
    35: #515350,
    40: #5d5f5b,
    50: #767874,
    60: #8f918d,
    70: #aaaca7,
    80: #c6c7c2,
    90: #e2e3de,
    95: #f0f1ec,
    98: #f9faf5,
    99: #fcfdf8,
    100: #ffffff,
    4: #0c0f0c,
    6: #111411,
    12: #1e201d,
    17: #282b28,
    22: #333532,
    24: #373a37,
    87: #d9dad6,
    92: #e8e9e4,
    94: #edeee9,
    96: #f3f4ef,
  ),
  neutral-variant: (
    0: #000000,
    10: #181c1d,
    20: #2d3131,
    25: #383c3c,
    30: #434848,
    35: #4f5353,
    40: #5b5f5f,
    50: #737878,
    60: #8d9191,
    70: #a8acac,
    80: #c3c7c7,
    90: #dfe3e3,
    95: #eef1f1,
    98: #f6fafa,
    99: #f9fdfd,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
