$primary_light_gray: #d1d7d7;

$accent_light_beige: #eff0eb;
$accent_light_green: #d9ddc1;

$system_olive: #a8ab74;
$system_dark_olive: #66734a;

$gray_500: #272829;
$gray_400: #54585c;
$gray_300: #787a7c;
$gray_200: #ababab;
$gray_100: #dadada;
$gray_50: #f1f1f1;
$gray_30: #fbfbfb;
